*{
	box-sizing: border-box;
}
body {
	margin: 0px;
}
.clear {
	display: block;
	clear: both;
}
.grey-text {
	color: #cccccc;
}
.center-horizontal {
	margin: 0 auto
}
.box{
	width: 100%;
	height: 100%;
	padding: 25px;
}
.headerbox{
	width: 100%;
	height: 350px;
	background-color: #262626;
	color: white;
	font-family: 'Rajdhani', sans-serif;
}
.headerbox img {
	width: 18%;
	height: 18%;
	margin: 70px 35px auto;
	padding: 15px;
	border: 5px solid white;
	display: block;
	float: left;
}
h1 {
	width: 30%;
	float: left;
	margin: 115px auto;
	letter-spacing: 5px;
}
h2 {	
	color: #262626;
}
h3 {
	color: #4d4d4d;
}
.bigbox1{
	width: 100%;
	height: 250px;
	margin: 0 0 25px auto;
	padding: 10px;
	padding-left: 25px;
	font-family: 'Montserrat', sans-serif;
}
.bio {
	line-height: 25px;
}
p {
	width: 95%;
	color: #333333;
}
.smallbox1{
	width: 70%;
	height: 100%;
	float: left;
	word-spacing: 5px;
}
.smallbox2{
	width: 30%;
	height: 100%;
	float: left;
	padding-left: 50px;
	border-left: 2px solid #d9d9d9;
	word-spacing: -45px;
}
a {
	text-decoration: none;
	color: #262626;
}
p i {
	letter-spacing: 50px;
}
.bigbox2{
	width: 100%;
	height: 375px;
	float: left;
	padding-left: 25px;
	font-family: 'Montserrat', sans-serif;
}
.smallbox3{
	width: 50%;
	height: 100%;
	float: left;
	padding: 25px;
}
.smallbox3--inter{
	padding-left: 50px;
}
.bar {
	width: 100%;
	height: auto;
}

.bar h4 {
	margin: 0;
	float: left;
	line-height: 30px;
}
.bar .horizontal {
	float: left;
}
.horizontal .progress-bar {
  float: right;
  height: 45px;
  width: 50%;
  padding: 5px 0;
}

.horizontal .progress-track {
  position: relative;
  width: 100%;
  height: 15px;
  background: white;
  border: 1px solid #333333;
}

.horizontal .progress-fill1 {
  position: relative;
  background: #333333;
  height: 15px;
  width: 90%;
  color: #fff;
}
.horizontal .progress-fill2 {
  position: relative;
  background: #333333;
  height: 15px;
  width: 90%;
  color: #fff;
}
.horizontal .progress-fill3 {
  position: relative;
  background: #333333;
  height: 15px;
  width: 80%;
  color: #fff;
}
.horizontal .progress-fill4 {
  position: relative;
  background: #333333;
  height: 15px;
  width: 75%;
  color: #fff;
}
.horizontal .progress-fill5 {
  position: relative;
  background: #333333;
  height: 15px;
  width: 60%;
  color: #fff;
}
.horizontal .progress-fill6 {
  position: relative;
  background: #333333;
  height: 15px;
  width: 55%;
  color: #fff;
}

/* Card */

.card {
	width: 33.33%;
	text-align: center;
	display: inline-block;
	margin-right: -4px;
}
.outside-card {
	margin-bottom: 30px;
	text-align: center;
}

.card__thumb {
	width: 50px;
	height: 50px;
	border: 5px solid #333333;
	display: inline-block;
}
.card__title {

}
/* timeline */
.timeline {
	padding-left: 50px;
	position: relative;
	padding-bottom: 25px;
}
.timeline:before {
	content: '';
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #333333;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
}
.timeline:after {
	content: '';
    width: 1px;
    height: 180px;
    background: #333333;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 5px;
}
.timeline:last-child:after {
	content: none;
}